.main {
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
}
.detailTop {
  display: flex;
  justify-content: space-between;
}
.title {
  text-transform: uppercase;
  color: #f76c6a;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  display: flex;
  gap: 10px;
}
.detail {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.detailDiv {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detailCircle {
  position: absolute;
  right: 30px;
  bottom: 40px;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  cursor: pointer;
  border-radius: 40px;
  background-color: #f76c6a;
}
.content {
  overflow-y: scroll;
  height: 88%;
}
.setting {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}