.grid-central {
  display: grid;
  align-items: center;
  height: 100%;
}
.logo {
  justify-self: center;
}
.formulario {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 15px;
  padding: 0px 15px;
}
.formulario input {
  grid-column: 1/-1;
  padding: 20px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid rgba(39, 39, 39, 0.5);
}
.esqueceuSenha {
  grid-column: 2;
  border: none;
  justify-self: end;
  cursor: pointer;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #27272780;
}
.entrar {
  grid-column: 1/-1;
  border-radius: 12px;
  background: #f79e89;
  padding: 16px 0px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
.cadastroTexto {
  grid-column: 1/-1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #27272766;
  font-weight: 400;
}
.cadastroDetalhe {
  color: #f79e89;
  cursor: pointer;
}
@media (orientation: landscape) {
  .aviso {
    display: block;
  }
  body {
    overflow: hidden;
  }
}

/*Formulário de cadastro*/
.formulario.cadastro {
  display: none;
}
/*interação com js*/
.formulario.displayNone {
  display: none !important;
}
.formulario.displayblock {
  display: grid !important;
}
