.grid-main {
  display: grid;
  align-items: center;
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  overflow: hidden;
}
.logo {
  justify-self: center;
}
.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  row-gap: 15px;
  padding: 0px 15px;
}
.form input {
  grid-column: 1/-1;
  padding: 20px;
  border-radius: 12px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  border: 1px solid #27272780;
}
.passForgot {
  grid-column: 2;
  border: none;
  justify-self: end;
  cursor: pointer;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #27272780;
}
.login {
  grid-column: 1/-1;
  border-radius: 12px;
  background: #f79e89;
  padding: 16px 0px;
  cursor: pointer;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 5px;
}
.registerText {
  grid-column: 1/-1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #27272766;
  font-weight: 400;
}
.registerDetail {
  color: #f79e89;
  cursor: pointer;
}
.passDetail {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 33px;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  top: 90px;
}
.register .passDetail {
  top: 162px;
}
